<?php
/*
 * ImaxelAPILib
 *
 * This file was automatically generated by APIMATIC BETA v2.0 on 05/12/2015
 */

namespace ImaxelAPILib\Controllers;

use ImaxelAPILib\APIException;
use ImaxelAPILib\APIHelper;
use ImaxelAPILib\Configuration;
use Unirest\Unirest;
class SessionController {
    /**
     * Create new session.
     * @param  string     $dlrid     Required parameter: TODO: type description here
     * @return mixed response from the API call*/
    public function getCreateSession (
                $dlrid) 
    {
        //the base uri for api requests
        $queryBuilder = Configuration::BASEURI;
        
        //prepare query string for API call
        $queryBuilder = $queryBuilder.'/api/v1.ashx?cmd=CreateSession';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($queryBuilder, array (
            'dlrid' => $dlrid,
        ));

        //validate and preprocess url
        $queryUrl = APIHelper::cleanUrl($queryBuilder);

        //prepare headers
        $headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json'
        );

        //prepare API request
        $request = Unirest::get($queryUrl, $headers);

        //and invoke the API call request to fetch the response
        $response = Unirest::getResponse($request);

        //Error handling using HTTP status codes
        if (($response->code < 200) || ($response->code > 206)) { //[200,206] = HTTP OK
            throw new APIException("HTTP Response Not OK", $response->code);
        }

        return $response->body;
    }
        
}